@use "../../../globals" as *;

.fill_form {
  padding: 40px 0;

  &_container {
    width: 450px;
    margin: 0 auto;
  }

  h2 {
    margin-bottom: 20px;
    color: $primaryColor;
    font-weight: 500;
    font-size: 18px;
  }

  .item-box {
    width: 100%;
    display: flex;
    gap: 20px;
  }

  .inner-item-box {
    width: 100%;
  }

  .ant-form-item-label {
    color: $primaryColor;
  }

  .color {
    color: $primaryColor;
  }

  .btn {
    display: flex;
    justify-content: flex-end;
  }

  button {
    background: $primaryColor;
    color: white;
  }

  nz-form-control,
  nz-form-item {
    width: 100%;
  }

  nz-form-label {
    font-weight: 500;
  }

  @media (max-width: 460px) {
    .fill_form {
      padding: 40px 0px;

      &_container {
        width: 95%;
        // margin: 0 auto;
      }
    }
  }
}

.soc-label {
  margin-right: 20px;
}

.soc-add-btn {
  width: 20px;
  height: 20px;
  background: url(../../../assets/images/add.svg) no-repeat center center;
  background-size: cover;
  cursor: pointer;
  transition: 0.3s;
}

.soc-add-btn:hover {
  filter: opacity(80%);
}
