<div class="fill_form">
  <div class="fill_form_container">
    <h2>Hi! Please, fill out the form</h2>
    <form [formGroup]="candidateForm" nz-form>
      <div class="item-box">
        <nz-form-item>
          <div class="inner-item-box">
            <nz-form-label nzRequired nzNoColon nzFor="fname">
              First Name
            </nz-form-label>
            <nz-form-control [nzErrorTip]="requiredError">
              <input
                formControlName="name"
                nz-input
                name="fname"
                type="text"
                id="fname"
                placeholder="Enter your First name"
              />
            </nz-form-control>
          </div>
        </nz-form-item>

        <nz-form-item>
          <div class="inner-item-box">
            <nz-form-label nzRequired nzNoColon nzFor="lname">
              Last Name
            </nz-form-label>
            <nz-form-control [nzErrorTip]="requiredError">
              <input
                formControlName="surname"
                nz-input
                name="lname"
                type="text"
                id="lname"
                placeholder="Enter your Last name"
              />
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <div>
        <nz-form-item>
          <div class="item-box">
            <div class="inner-item-box">
              <nz-form-label nzRequired nzNoColon nzFor="skype">
                Skype
              </nz-form-label>
              <nz-form-control [nzErrorTip]="requiredError">
                <input
                  formControlName="skype"
                  nz-input
                  name="skype"
                  type="text"
                  id="skype"
                  placeholder="Enter your Skype login"
                />
              </nz-form-control>
            </div>
          </div>
        </nz-form-item>
      </div>

      <div formGroupName="contacts">
        <nz-form-item>
          <nz-form-label nzNoColon>
            <div class="soc-label">Add links to your social networks</div>

            <div class="soc-add-btn" (click)="onAddClick()"></div>
          </nz-form-label>
          <div style="width: 100%">
            <nz-form-control
              style="width: 100%"
              *ngFor="let item of contactFields; let i = index"
            >
              <input
                style="margin-top: 5px"
                nz-input
                name="link"
                type="text"
                id="link"
                placeholder="Paste the link here"
                [formControlName]="'contact' + i"
              />
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzRequired nzNoColon nzFor="email">
              Email
            </nz-form-label>
            <nz-form-control [nzErrorTip]="emailError">
              <input
                formControlName="email"
                nz-input
                name="email"
                type="text"
                id="email"
                placeholder="Enter your Email"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzRequired nzNoColon nzFor="phone">
              Phone
            </nz-form-label>
            <nz-form-control [nzErrorTip]="phoneError">
              <input
                formControlName="phoneNumber"
                nz-input
                name="phone"
                type="text"
                id="phone"
                placeholder="Enter your Phone number"
                mask="+000 (00) 000 00 00"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <div class="item-box">
        <nz-form-item style="width: 100%">
          <div class="inner-item-box">
            <nz-form-label nzRequired nzNoColon nzFor="location">
              City
            </nz-form-label>
            <nz-form-control [nzErrorTip]="requiredError">
              <input
                formControlName="city"
                nz-input
                name="location"
                type="text"
                id="location"
                placeholder="Enter your Country"
              />
            </nz-form-control>
          </div>
        </nz-form-item>

        <nz-form-item style="width: 100%">
          <div class="inner-item-box pad-left">
            <nz-form-label nzRequired nzNoColon nzFor="location">
              Country
            </nz-form-label>
            <nz-form-control [nzErrorTip]="requiredError">
              <input
                formControlName="country"
                nz-input
                name="location"
                type="text"
                id="location"
                placeholder="Enter your City"
              />
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box pad-top">
            <nz-form-label nzNoColon nzRequired>English level</nz-form-label>
            <nz-form-control [nzErrorTip]="requiredError">
              <nz-select
                formControlName="englishLevel"
                nzAllowClear
                nzPlaceHolder="Choose your English level"
              >
                <nz-option
                  *ngFor="
                    let englishLevel of englishLevel$ | async | enumToArray
                  "
                  [nzValue]="+englishLevel[0]"
                  [nzLabel]="englishLevel[1]"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item
        style="
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        "
      >
        <nz-form-label nzNoColon nzRequired>
          Choose the language of Internship
        </nz-form-label>
        <nz-radio-group formControlName="projectLanguage">
          <label
            (click)="projectLanguageError = false"
            nz-radio
            aria-required="true"
            [nzValue]="0"
            >English</label
          >
          <label (click)="projectLanguageError = false" nz-radio [nzValue]="1"
            >Russian</label
          >
        </nz-radio-group>

        <small
          *ngIf="projectLanguageError"
          style="position: absolute; bottom: -20px; color: #ff4d4f"
        >
          This field is required
        </small>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon nzRequired>Primary skill</nz-form-label>
            <nz-form-control [nzErrorTip]="requiredError">
              <nz-select
                formControlName="primarySkillId"
                nzRequired
                nzAllowClear
                nzPlaceHolder="Choose your Primary skill"
                required
              >
                <nz-option
                  [nzValue]="primarySkill.id"
                  *ngFor="let primarySkill of currentProjectSkills"
                  [nzLabel]="primarySkill.name"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="inner-item-box">
          <nz-form-label nzNoColon nzRequired>
            The best time to contact you (Minsk time zone)
          </nz-form-label>
          <nz-form-control [nzErrorTip]="requiredError">
            <nz-select
              nzMode="multiple"
              nzPlaceHolder="Select time"
              formControlName="bestTimeToConnect"
            >
              <nz-option
                *ngFor="let time of bestTimeToContact"
                [nzLabel]="time"
                [nzValue]="time"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
      </nz-form-item>

      <nz-form-item
        style="
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        "
      >
        <nz-form-label nzNoColon nzRequired>
          Are you planning to join Exadel after the Internship?
        </nz-form-label>

        <nz-radio-group formControlName="goingToExadel">
          <label (click)="goingToExadelError = false" nz-radio [nzValue]="true"
            >Yes</label
          >
          <label (click)="goingToExadelError = false" nz-radio [nzValue]="false"
            >No</label
          >
        </nz-radio-group>

        <small
          *ngIf="goingToExadelError"
          style="position: absolute; bottom: -20px; color: #ff4d4f"
        >
          This field is required
        </small>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon nzFor="comments">Comments</nz-form-label>
            <nz-form-control>
              <input
                formControlName="additionalInfo"
                nz-input
                name="comments"
                type="text"
                id="comments"
                placeholder="Enter your comments"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon>Do you have any questions?</nz-form-label>
            <nz-form-control>
              <input
                formControlName="additionalQuestions"
                nz-input
                name="questions"
                type="text"
                id="questions"
                placeholder="Enter your questions"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon nzFor="cjob">Current job</nz-form-label>
            <nz-form-control>
              <input
                formControlName="currentJob"
                nz-input
                name="cjob"
                type="text"
                id="cjob"
                placeholder="Enter your current job"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div class="item-box">
          <div class="inner-item-box">
            <nz-form-label nzNoColon>Professional certificates</nz-form-label>
            <nz-form-control>
              <input
                formControlName="certificates"
                nz-input
                name="certificates"
                type="text"
                id="certificates"
                placeholder="Indicate your certificates"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item style="position: relative" class="btn">
        <small
          *ngIf="
            (isAnyErrorInForm && candidateForm.untouched) ||
            (candidateForm.invalid && candidateForm.touched)
          "
          style="position: absolute; top: -17px; color: #ff4d4f"
        >
          Please, fill in all required fields
        </small>

        <button
          type="submit"
          nz-button
          (click)="submitForm()"
          [nzLoading]="isLoading"
        >
          Submit
        </button>
      </nz-form-item>
    </form>
  </div>
</div>

<ng-template #requiredError>
  <small>This field is required</small>
</ng-template>

<ng-template #emailError>
  <small>Please enter correct e-mail address</small>
</ng-template>

<ng-template #phoneError>
  <small>Please enter correct phone number </small>
</ng-template>
