<nz-tabset nzType="card" nzSize="small" nzTabPosition="top" nzCentered="true">
  <nz-tab nzTitle="My schedule" (nzClick)="setRecruiterAndAllCandidates()">
    <div class="tab_wrap">
      <app-time-line></app-time-line>
      <app-interviewers-drop-table></app-interviewers-drop-table>
      <app-candidates-grid></app-candidates-grid>
    </div>
  </nz-tab>
  <nz-tab
    *ngFor="let skill of setTabNames()"
    nzTitle="{{ skill }}"
    (nzClick)="setInterviewersAndCandidatesBySkill(skill)"
  >
    <div class="tab_wrap">
      <app-time-line></app-time-line>
      <app-interviewers-drop-table></app-interviewers-drop-table>
      <app-candidates-grid></app-candidates-grid>
    </div>
  </nz-tab>
</nz-tabset>
