.calendar-wrapp {
  margin-top: 30px;
  padding: 20px;
  background: #fff;
  position: relative;
  overflow-x: auto;
}

app-calendar-for-interviewers {
  min-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

app-calendar-for-recruiters {
  min-width: 1160px;
}

.menu {
  z-index: 5;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    margin-right: 10px;
  }

  a {
    padding: 0;
    font-size: 12px;
  }
}

.save-btn {
  z-index: 5;
  position: absolute;
  top: 20px;
  right: 20px;
}

.timetable {
  height: 47%;
  overflow-y: auto;
}

.calendar_table {
  width: 100%;
  display: grid;
}

.calendar_row {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 19% 81%;
  border: 1px solid #949494;
}

.calendar_staff {
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-right: 1px solid #949494;
  transition: 0.3s;
}

app-time-line {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
