<nz-modal
  [nzVisible]="visible"
  [nzTitle]="editing ? editHead : createHead"
  (nzOnCancel)="onClose()"
  (nzOnOk)="onSubmit()"
  [nzOkLoading]="isFeedbackSubmitting"
  [nzOkText]="editing ? 'Save' : 'Submit'"
>
  <ng-template #editHead>Update your feedback</ng-template>
  <ng-template #createHead>Add new feedback</ng-template>
  <ng-container *nzModalContent>
    <form nzLayout="vertical" nz-row [nzGutter]="16" nz-form [formGroup]="form">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="feedbackType">
            Feedback Type
          </nz-form-label>
          <nz-form-control nzErrorTip="Please enter feedback type">
            <nz-select
              [nzLoading]="false"
              [nzShowArrow]="true"
              nz-input
              formControlName="type"
              id="feedbackType"
            >
              <nz-option
                *ngFor="let feedback of feedbackSelects"
                [nzDisabled]="isDisabled(feedback.type)"
                [nzValue]="feedback.type"
                [nzLabel]="feedback.feedbackName"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- <div nz-col [nzSpan]="4"></div> -->
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="rating">
            Feedback rating
          </nz-form-label>
          <nz-form-control nzErrorTip="Please enter feedback rating">
            <nz-rate nzCount="4" formControlName="rating"></nz-rate>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="textFeedback">
            Feedback text
          </nz-form-label>
          <nz-form-control [nzErrorTip]="textFeedbackError">
            <nz-textarea-count [nzMaxCharacterCount]="500">
              <!-- placeholder="You can write some description here" -->
              <textarea
                nz-input
                formControlName="textFeedback"
                id="textFeedback"
                rows="4"
                nzAutosize
              ></textarea>
            </nz-textarea-count>
            <ng-template #textFeedbackError let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please enter feedback text
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength')">
                min. length is 10 characters
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">
                max. length is 500 characters
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </ng-container>
</nz-modal>
