<div class="start">
  <div class="container">
    <h2 class="start_title">
      Exadel is looking for motivated and enthusiastic employees!
    </h2>
    <h4 class="start_subtitle">
      Immerse yourself in a fascinating educational project that is as close as
      possible to real conditions
    </h4>
    <div class="start_info">
      <div class="start_info-img1"></div>
      <div class="start_info-text">get valuable teamwork experience</div>
      <div class="start_info-img2"></div>
      <div class="start_info-text">practice your skills</div>
      <div class="start_info-img3"></div>
      <div class="start_info-text">work with the experts from Exadel</div>
      <div class="start_info-img4"></div>
      <div class="start_info-text">and even get a job offer!</div>
      <div class="start_info-img5"></div>
      <div class="start_info-text">do it all without leaving home</div>
    </div>
    <button
      class="start_btn"
      nz-button
      nzType="primary"
      (click)="goToInternships()"
    >
      View internships
    </button>
  </div>
</div>
