@use "../../../globals" as *;

.loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &_container {
    background-color: white;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-grow: 1;
    // color: red;
    h2 {
      text-align: center;
      color: $primaryColor;
      font-weight: 700;
    }
  }
  &_btn {
    font-weight: 600;
    width: 100%;
  }
}
