<div class="loginPage">
  <div class="loginPage_container">
    <h2 nz-typography class="loginPage_title">Recruitify</h2>
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="emailError">
          <nz-input-group nzPrefixIcon="mail">
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="E-mail"
            />
          </nz-input-group>
          <ng-template #emailError let-control>
            <ng-container *ngIf="control.hasError('email')">
              Please enter a valid email address
            </ng-container>
            <ng-container *ngIf="control.hasError('required')">
              Please enter your email address
            </ng-container>
            <ng-container *ngIf="control.hasError('wrong')">
              Please check your email address
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="passwordError">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
          <ng-template #passwordError let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please enter your password
            </ng-container>
            <ng-container *ngIf="control.hasError('wrong')">
              Please check your password
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <button
        [nzLoading]="isLoading"
        class="loginPage_btn"
        type="submit"
        nz-button
        nzType="primary"
      >
        Log in
      </button>
    </form>
  </div>
</div>
