@use "./globals/" as *;

// @import "~ng-zorro-antd/ng-zorro-antd.css";
// @import "~ng-zorro-antd/ng-zorro-antd.dark.css";

/* You can add global styles to this file, and also import other style files */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // background-color: #f4f4f4;
  background: linear-gradient(#f4f4f4ba, #f4f4f4ba),
    url(assets/images/main-background.svg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

//add this class to all pages with header
.page_container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 1rem;
}
// for red error texts
.errorText {
  color: $dangerColor;
}

// DRAGULA

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
  box-shadow: 0px 0px 15px 4px rgba(79, 131, 171, 0.2);
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0;
}
