<div class="menu" *ngIf="isRecruiter || isManager">
  <div class="menu_email" *ngIf="isRecruiter">
    <button
      nz-button
      nzSize="small"
      nzType="primary"
      nz-popconfirm
      [nzPopconfirmTitle]="testTaskTitle"
      nzPopconfirmPlacement="bottom"
      nzIcon="none"
      (nzOnConfirm)="sendTestTask()"
    >
      Send test task
    </button>
  </div>

  <div class="menu_test" *ngIf="isRecruiter">
    <nz-input-number
      style="width: 50px"
      [(ngModel)]="testResult"
      [nzMin]="1"
      [nzMax]="10"
      [nzStep]="1"
      nzSize="small"
    ></nz-input-number>
    <button
      nz-button
      nzSize="small"
      nzType="primary"
      (click)="testResultSubmit()"
    >
      Set test result
    </button>
  </div>

  <div class="menu_status">
    <nz-select
      *ngIf="isManager"
      nzSize="small"
      class="menu_status-select"
      id="status"
      nzPlaceHolder="Set status"
      [(ngModel)]="selectedStatus"
      (ngModelChange)="setReasonSelectVisibility($event)"
    >
      <nz-option
        *ngFor="let status of candidateStatusesForManager"
        nzValue="{{ status }}"
        nzLabel="{{ status }}"
      ></nz-option>
    </nz-select>
    <nz-select
      class="menu_status-select"
      id="reason"
      nzPlaceHolder="Set reason"
      nzSize="small"
      *ngIf="isReasonSelectVisible"
      [(ngModel)]="selectedReason"
    >
      <nz-option
        *ngFor="let reason of declineReasons"
        nzValue="{{ reason }}"
        nzLabel="{{ reason }}"
      ></nz-option>
    </nz-select>

    <button
      nzSize="small"
      nz-button
      class="menu_status-btn"
      nzType="primary"
      (click)="statusSubmit()"
      *ngIf="isManager"
    >
      Submit status
    </button>
  </div>
</div>

<app-send-email-modal></app-send-email-modal>

<ng-template #testTaskTitle>
  <div style="display: flex; flex-direction: column; gap: 5px">
    <div>Days to complete task</div>
    <nz-date-picker
      [(ngModel)]="finishTestDate"
      nzSize="small"
      style="width: 100%"
    ></nz-date-picker>
    <div>Employee email</div>
    <input nz-input nzSize="small" [(ngModel)]="employeeEmail" />
  </div>
</ng-template>
