.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px 10px;
  border-top: 1px solid #0082ca;

  &_email {
    display: flex;
    gap: 10px;
  }

  &_test {
    &-input {
      width: 50px;
    }
  }

  &_status {
    display: flex;
    gap: 5px;

    &-select {
      width: 150px;
    }
  }
}

#reason {
  width: 200px;
}
