<nz-table
  [nzHideOnSinglePage]="true"
  nzShowSizeChanger
  [nzLoading]="isLoading"
  #nzTable
  [nzData]="candidatesList"
  nzTableLayout="fixed"
  (nzQueryParams)="onQueryParamsChange($event)"
  [nzSize]="'middle'"
>
  <thead>
    <tr>
      <th
        nzWidth="40px"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th [nzAlign]="'center'">Name</th>
      <th [nzAlign]="'center'">Primary skill</th>
      <th [nzAlign]="'center'">Status</th>
      <th [nzAlign]="'center'">Recruiter</th>
      <th [nzAlign]="'center'" nzWidth="90px">Test</th>
      <th [nzAlign]="'center'">Entry Interview</th>
      <th [nzAlign]="'center'">Mentor</th>
      <th [nzAlign]="'center'">Final Interview</th>

      <th nzWidth="60px"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of nzTable.data">
      <td
        [nzChecked]="setOfCheckedId.has(candidate.id)"
        (nzCheckedChange)="onItemChecked(candidate.id, $event)"
      ></td>
      <td>{{ candidate.name }} {{ candidate.surname }}</td>
      <td [nzAlign]="'center'">
        <p>
          {{
            candidate.projectResults[0]
              ? getFormatName(candidate.projectResults[0].primarySkill.name)
              : "none"
          }}
        </p>
      </td>
      <td [nzAlign]="'center'">
        <p>
          {{
            candidate.projectResults[0]
              ? getFormatName(candidate.projectResults[0].status)
              : "none"
          }}
        </p>
      </td>
      <td [nzAlign]="'center'">
        <app-rating-stars
          [rate]="getFeedbackRate(candidate, 'Interview')"
          [isDisabled]="true"
        ></app-rating-stars>
      </td>
      <td [nzAlign]="'center'">
        {{ getFeedbackRate(candidate, "Test") }}
      </td>

      <td [nzAlign]="'center'">
        <app-rating-stars
          [rate]="getFeedbackRate(candidate, 'TechInterviewOneStep')"
          [isDisabled]="true"
        ></app-rating-stars>
      </td>
      <td [nzAlign]="'center'">
        <app-rating-stars
          [rate]="getFeedbackRate(candidate, 'Mentor')"
          [isDisabled]="true"
        ></app-rating-stars>
      </td>
      <td [nzAlign]="'center'">
        <app-rating-stars
          [rate]="getFeedbackRate(candidate, 'TechInterviewSecondStep')"
          [isDisabled]="true"
        ></app-rating-stars>
      </td>

      <td>
        <button
          class="profile-btn"
          [routerLink]="[
            '/' + paths.profile,
            candidate.id,
            candidate.projectResults[0].projectId
          ]"
        ></button>
      </td>
    </tr>
  </tbody>
</nz-table>
