.projects {
  &_head {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    .search {
      display: flex;
      gap: 10px;
    }

    .filter {
      display: flex;
      align-items: center;
      // margin-right: 20px;
      cursor: pointer;
    }
  }
}
.filters {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
nz-select.skills {
  min-width: 200px;
}

label {
  margin-right: 10px;
}

@media (max-width: 460px) {
  .projects_head {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    input {
      width: 100%;
    }
  }

  .search {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }

  .filter {
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 0;
  }
}
