<div class="internships">
  <div class="container">
    <div class="card" *ngFor="let project of activeProjects">
      <div style="width: 100%">
        <div class="card_heading">
          <h3 class="card_title">{{ project.name }}</h3>
          <div class="card_info--reg">
            <p class="card_info">📋 Registration:</p>
            <p class="card_info">
              {{ project.startRegistrationDate | date: "MM.dd.yyyy" }} -
              {{ project.endRegistrationDate | date: "MM.dd.yyyy" }}
            </p>
          </div>
        </div>
        <p class="card_info">
          ⏰ Duration:
          {{ getProjectDuration(project.startDate, project.endDate) }} weeks
        </p>
        <p class="card_info">
          📆 Start: {{ project.startDate | date: "MM.dd.yyyy" }}
        </p>
        <p class="card_info">💻 Format: online</p>
        <p class="card_info description">{{ project.description }}</p>

        <nz-collapse nzGhost>
          <nz-collapse-panel
            *ngFor="let skill of project.primarySkills"
            [nzHeader]="getNzCollapseTitle(skill.name)"
          >
            <div style="color: #ffffff">
              {{ skill.description }}
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </div>

      <button
        class="card_btn"
        nz-button
        nzType="primary"
        [routerLink]="['/fill-form', project.id]"
      >
        Apply
      </button>
    </div>
  </div>
</div>
