.calendar_time-grid-line {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 1px;
  background-color: #949494;
}

.weekend_row {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.85;
}
