.test-link {
  width: 100%;
  height: 2.3rem;
  margin: 15px 0;
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #ddd9d99a;

  &_img {
    width: 20px;
    height: 20px;
    background: url(../../../../../assets/images/link.svg);
  }

  a {
    font-weight: 600;
  }
}
