<nz-spin [nzSpinning]="loading">
  <div>
    <nz-empty
      nzNotFoundImage="assets/images/no_data.svg"
      nzNotFoundContent="No data"
      *ngIf="projects?.length === 0 && !loading"
    ></nz-empty>
    <div nz-row [nzGutter]="[16, 16]">
      <div
        *ngFor="let iterCard of projects"
        nz-col
        nzSpan="12"
        nzMd="24"
        nzSm="24"
        nzXs="24"
        nzLg="12"
      >
        <app-project [card]="iterCard"></app-project>
      </div>
    </div>
  </div>
</nz-spin>
