p {
  margin: 0;
}

.candidates {
  width: 100%;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  align-content: start;
  border: 1px solid #0082ca;
  overflow-y: auto;
}

.candidates::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}
.candidates::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #b3b9b9c2;
}
.candidates::-webkit-scrollbar-thumb:hover {
  background-color: #b3b9b9;
}
.candidates::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
}

.candidate {
  position: relative;
  padding: 3px 0;
  padding-top: 8px;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0082ca;
  color: white;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-box;
  cursor: move;
}

.status1 {
  background-color: #13a1ee;
}

.status2 {
  background-color: #1579af;
}

.status3 {
  background-color: #0d5c86;
}

.candidate_skill {
  position: absolute;
  top: 0px;
  left: 2px;
}

.d-none {
  display: none;
}
