<nz-drawer
  [nzClosable]="true"
  nzHeight="auto"
  [nzVisible]="isVisible"
  nzPlacement="top"
  nzTitle="Projects filters"
  (nzOnClose)="onClose()"
>
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical">
      <div nz-row [nzGutter]="24" style="height: 100%">
        <div nz-col>
          <nz-form-item>
            <nz-form-label nzFor="status">
              <strong> Status </strong>
            </nz-form-label>
            <nz-form-control>
              <nz-radio-group
                [(ngModel)]="statusInput"
                [ngModelOptions]="{ standalone: true }"
              >
                <label
                  style="display: flex"
                  *ngFor="let item of statuses"
                  nz-radio
                  [nzValue]="item.value"
                  >{{ item.name }}</label
                >
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col>
          <nz-form-item>
            <nz-form-label nzFor="primarySkills">
              <strong> PrimarySkills </strong>
            </nz-form-label>
            <nz-form-control>
              <nz-checkbox-wrapper
                ngDefaultControl
                (nzOnChange)="primarySkillsChange($event)"
                style="width: 100%"
              >
                <div nz-row>
                  <div *ngFor="let item of data" nz-col nzSpan="8">
                    <label
                      [ngModelOptions]="{ standalone: true }"
                      [ngModel]="primarySkillsInput.includes(item.name!)"
                      nz-checkbox
                      [nzValue]="item.name"
                      >{{ item.name }}</label
                    >
                  </div>
                </div>
              </nz-checkbox-wrapper>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col>
          <nz-form-item>
            <nz-form-label nzFor="status">
              <strong> Sort by date </strong>
            </nz-form-label>
            <nz-form-control>
              <nz-radio-group
                [(ngModel)]="dateSortInput.order"
                [ngModelOptions]="{ standalone: true }"
              >
                <label style="display: flex" nz-radio nzValue="desc"
                  >Newest</label
                >
                <label nz-radio nzValue="asc">Oldest</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="end">
        <button nz-button (click)="onSubmit()" nzType="primary" type="submit">
          Apply
        </button>
        <button nz-button (click)="clearFilters()" nzType="primary" type="submit">
          Clear
        </button>
      </div>
    </form>
  </ng-container>
</nz-drawer>
