<!-- [@showPage] -->
<div class="profile_wrapper">
  <nz-breadcrumb style="margin-bottom: 1rem">
    <nz-breadcrumb-item>
      <a routerLink="/projects">
        <nz-space>
          <!-- <i nz-icon *nzSpaceItem nzType="arrow-left" nzTheme="outline"></i> -->
          <ng-container *nzSpaceItem> Projects </ng-container>
        </nz-space>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="'/projects/' + currentProjectId">
        <nz-space>
          <!-- <i nz-icon *nzSpaceItem nzType="arrow-left" nzTheme="outline"></i> -->
          <ng-container *nzSpaceItem> Candidates List </ng-container>
        </nz-space>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="candidate?.name">
      {{ candidate?.name + " " + candidate?.surname }}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-spin
    [nzSpinning]="isLoading"
    [nzSize]="'large'"
    nzTip="Profile is loading..."
  >
    <div class="profile">
      <div class="profile_info">
        <div class="main-info">
          <div class="main-info_heading">
            <p class="name">{{ candidate?.name }} {{ candidate?.surname }}</p>
            <p class="stack">
              {{
                candidatesCurrentProject?.primarySkill
                  ? candidatesCurrentProject?.primarySkill.name
                  : ""
              }}
            </p>
          </div>

          <!-- <div style="display: flex"> -->
          <div>
            <p class="location">
              {{ candidate?.location?.city }},
              {{ candidate?.location?.country }}
            </p>

            <p>
              <span>skype: </span>
              <a href="#">{{ skypeLogin }}</a>
            </p>
            <p *ngFor="let contact of socLinks">
              <span>{{ contact.type }}: </span>
              <a href="{{ contact.value }}" target="_blank">Link</a>
            </p>
            <p>
              <span>Email:</span>
              <a href="mailto:{{ candidate?.email }}">
                {{ candidate?.email }}</a
              >
            </p>
            <p>
              <span>Phone number:</span>
              <a href="tel:+{{ candidate?.phoneNumber }}">
                {{ candidate?.phoneNumber }}</a
              >
            </p>
            <p>
              <span>English level:</span>
              {{ candidate ? englishLvls[candidate.englishLevel] : null }}
            </p>
            <p>
              <span>Language:</span>
              {{
                candidate ? projectLanguages[candidate.projectLanguage] : null
              }}
            </p>
            <p><span>Test result:</span> {{ testResult || "none" }}</p>
            <p>
              <span>Status:</span>
              {{
                candidatesCurrentProject
                  ? candidateStatuses[candidatesCurrentProject.status]
                  : null
              }}
              <!-- {{candidate &&  candidateStatuses[candidate?.projectResults?.[0]?.status!] }} -->
            </p>
            <div>
              <!-- <span>Previous projects:</span> -->
              <!-- TODO map name and link to projects -->
              <!-- <p>{{ candidate?.projectResults ? candidate?.projectResults : "none" }}</p> -->
            </div>
          </div>
        </div>

        <div class="add-info">
          <p class="add-info_title">Additional information</p>
          <p>
            <span>Date of application: </span
            >{{ candidate?.registrationDate | date: "dd.MM.yyyy" }}
          </p>
          <p>
            <span>Best time to contact:</span>
            {{ candidate?.bestTimeToConnect?.join(", ") }}
          </p>
          <p>
            <span>Comments:</span>
            {{ candidate?.additionalInfo || "none" }}
          </p>

          <p>
            <span>Questions: </span
            >{{ candidate?.additionalQuestions || "none" }}
          </p>
          <p><span>Current job: </span>{{ candidate?.currentJob || "none" }}</p>
          <p>
            <span>Certificates: </span
            >{{ candidate?.certificates ? candidate?.certificates : "none" }}
          </p>
          <p>
            <span>Join Exadel: </span>
            {{ candidate?.goingToExadel ? "Yes" : "No" }}
          </p>
        </div>
      </div>
      <app-profile-feedbacks
        [projectId]="currentProjectId"
        [feedbacks]="candidate?.projectResults?.[0]?.feedbacks || []"
      ></app-profile-feedbacks>
    </div>
  </nz-spin>
</div>
