@use "../../../../globals" as *;

.candidates_container {
  margin: 0 auto;
}

.candidates_heading {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: $primaryColor;

  .candidates_count {
    height: 25px;
    padding-left: 20px;
    align-self: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    background: url(../../../../assets/images/person.svg) no-repeat center left;
    background-size: contain;
  }

  .candidates_title {
    position: relative;
    margin: 0;
    justify-self: center;
    align-self: center;
    font-size: 18px;
    font-weight: 600;
    color: $primaryColor;
  }

  .candidates_filter-wrap {
    align-self: center;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 15px;

    .candidates_filter-btn {
      width: 22px;
      height: 22px;
      background: url(../../../../assets/images/filter.svg) no-repeat center
        center;
      background-size: contain;
      cursor: pointer;
    }
  }
}

.drawer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  column-gap: 15px;
}

.menu_link {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.menu_icon {
  // position: absolute;
  // top: -4px;
  // right: -40px;
  width: 30px;
  height: 30px;
  stroke: $primaryColor;
  transition: 0.3s;
}

.menu_icon:hover,
.active svg {
  stroke: #00c3ff;
}
