<nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerVisible"
  [nzHeight]="205"
  nzPlacement="top"
  nzTitle="Candidates filter"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <form>
      <div class="drawer-container">
        <div class="drawer-inputs">
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-select
                nzSize="small"
                nzMode="tags"
                [nzMaxTagCount]="1"
                [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
                nzPlaceHolder="Location"
                [(ngModel)]="locationsSelect"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  *ngFor="let item of locations"
                  [nzLabel]="item"
                  [nzValue]="item"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-range-picker
                nzSize="small"
                [(ngModel)]="filterDates"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="onDateChange($event)"
                class="date"
              ></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-select
                nzSize="small"
                nzMode="tags"
                [nzMaxTagCount]="1"
                [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
                nzPlaceHolder="English level"
                [(ngModel)]="englishLevelSelect"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  *ngFor="let option of englishLevel"
                  [nzValue]="option"
                  [nzLabel]="option"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-select
                nzSize="small"
                nzMode="tags"
                [nzMaxTagCount]="1"
                [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
                nzPlaceHolder="Primary Skills"
                [(ngModel)]="primarySkillsSelect"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  *ngFor="let option of primarySkills"
                  [nzLabel]="option.name"
                  [nzValue]="option.name"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-select
                nzSize="small"
                nzMode="tags"
                [nzMaxTagCount]="1"
                [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
                nzPlaceHolder="Status"
                [(ngModel)]="statusSelect"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  *ngFor="let option of status"
                  [nzValue]="option"
                  [nzLabel]="option"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-select
                nzSize="small"
                nzMode="tags"
                [nzMaxTagCount]="2"
                [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
                nzPlaceHolder="Test result"
                [(ngModel)]="testResultSelect"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  *ngFor="let item of test"
                  [nzLabel]="item"
                  [nzValue]="item"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-select
                nzSize="small"
                nzMode="tags"
                [nzMaxTagCount]="2"
                [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
                nzPlaceHolder="Recruiter Feedback"
                [(ngModel)]="recruiterRateSelect"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  nzCustomContent
                  *ngFor="let item of rate"
                  [nzValue]="item"
                  [nzLabel]="item"
                >
                  <nz-rate
                    nzCount="4"
                    [ngModel]="item"
                    [ngModelOptions]="{ standalone: true }"
                    nzDisabled
                  ></nz-rate>
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-select
                nzSize="small"
                nzMode="tags"
                [nzMaxTagCount]="2"
                [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
                nzPlaceHolder="Entry Interview"
                [(ngModel)]="entryInterviewRateSelect"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  nzCustomContent
                  *ngFor="let item of rate"
                  [nzValue]="item"
                  [nzLabel]="item"
                >
                  <nz-rate
                    nzCount="4"
                    [ngModel]="item"
                    [ngModelOptions]="{ standalone: true }"
                    nzDisabled
                  ></nz-rate>
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-select
                nzSize="small"
                nzMode="tags"
                [nzMaxTagCount]="2"
                [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
                nzPlaceHolder="Mentor Feedback"
                [(ngModel)]="mentorRateSelect"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  nzCustomContent
                  *ngFor="let item of rate"
                  [nzValue]="item"
                  [nzLabel]="item"
                >
                  <nz-rate
                    nzCount="4"
                    [ngModel]="item"
                    [ngModelOptions]="{ standalone: true }"
                    nzDisabled
                  ></nz-rate>
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="drawer-item">
            <nz-form-control>
              <nz-select
                nzSize="small"
                nzMode="tags"
                [nzMaxTagCount]="2"
                [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
                nzPlaceHolder="Final Interview"
                [(ngModel)]="finalInterviewRateSelect"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option
                  nzCustomContent
                  *ngFor="let item of rate"
                  [nzValue]="item"
                  [nzLabel]="item"
                >
                  <nz-rate
                    nzCount="4"
                    [ngModel]="item"
                    [ngModelOptions]="{ standalone: true }"
                    nzDisabled
                  ></nz-rate>
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="drawer-btns">
          <button nz-button nzType="primary" nzSize="small" *ngIf="isAdmin" (click)="export()">
            Create a report
          </button>
          <button
            nz-button
            nzType="default"
            nzSize="small"
            (click)="onSubmit()"
          >
            Show results
          </button>
          <button
            nz-button
            nzType="default"
            nzSize="small"
            (click)="clearFilters()"
          >
            Clear filters
          </button>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-template #nzMaxTagPlaceholder let-selectedList
    >+{{ selectedList.length }}
  </ng-template>
</nz-drawer>

<!--
*ngFor="let option of englishLevel | enumToArray"
[nzValue]="+option[0]"
[nzLabel]="option[1]" -->
