.drawer-container {
width: 1200px;
margin: 0 auto;
}

.drawer-inputs {
  margin-bottom: 10px;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  // grid-auto-flow: column;
  column-gap: 10px;
}

.drawer-btns {
  align-self: start;
  justify-self: end;
  display: flex;

  justify-content: flex-end;
  gap: 5px;

  button {
    width: 130px;
  }
}

.drawer-item {
  // width: 300px;
  margin: 0;
}

.date {
  width: 100%;
}
