@use "../../../../../globals/" as *;
.feedbacks {
  width: 100%;
  &_read {
    margin-bottom: 1rem;
    .form-heading {
      width: 100%;
      display: flex;
      font-size: 1rem;
      font-weight: 500;
      align-items: center;
      justify-content: space-between;
    }
    .form-body {
      width: 100%;
    }
  }
  &_form {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    textarea {
      width: 100%;
      height: 100px;
      margin-bottom: 5px;
    }
  }
  &_date {
    font-size: 0.75rem;
    color: $secondaryColor;
  }
}
