<div class="feedbacks">
  <div nz-row nzJustify="end">
    <button
      nz-button
      *ngIf="addButtonVisible()"
      (click)="toggleModal(true)"
      nzType="primary"
    >
      add feedback
    </button>
  </div>
  <nz-tabset nzSize="small">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.label">
      <ng-container *ngIf="tab.textFeedback; else noFeedback">
        <div class="feedbacks_read">
          <div class="form-heading">
            <p>
              by
              <strong>
                {{ tab.userName || "userName" }}
              </strong>

              <span class="feedbacks_date"
                >({{ tab.createdOn }} at {{ tab.createdTime }})
              </span>
            </p>
            <app-rating-stars
              [rate]="tab.rating"
              [isDisabled]="true"
            ></app-rating-stars>
          </div>
          <div>
            {{ tab.textFeedback }}
          </div>
        </div>
        <button
          nz-button
          nzSize="default"
          (click)="onEdit(tab)"
          nzType="primary"
          *ngIf="canEdit(tab.value)"
        >
          edit
        </button>
      </ng-container>
    </nz-tab>
  </nz-tabset>
</div>
<ng-template #noFeedback>
  <div style="margin-bottom: 5rem">
    <strong> No feedback yet </strong>
  </div>
</ng-template>
<app-add-feedback-modal
  [feedbacks]="feedbacks"
  [visible]="isModalVisible"
  (toggleModal)="toggleModal($event)"
></app-add-feedback-modal>
